body {
    background-image: url("../img/fondo_escritorio_1.jpg");
    background-size: 100% 100%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 8px white;
}